
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.grid-row {
  display: flex;
}
.grid-column-half {
  border: 1px solid grey;
  width: 33.33%;
  padding: 10px;
	overflow: hidden;
}


.tinted-container {
  height: 100%;
  background: pink;
}

.grid-column-half img {
	width: 100%;
}









.prod_row {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.prod_column_1 {
	width: 33.33%;
	margin: auto;
	border: 2px solid #44F4B3;
	background-color: #FFFFF6;

}

.prod_image_container {
	height: auto;
	overflow: hidden;
}


.prod_column_1 img {
	padding: 12px 12px 0px 12px;
	height: auto;
}

.prod_column_1 p {
	padding: 12px 12px 20px 12px;	
}

.prod_container {
	height: 100%;
}

.prod_column_1 img {
	width: 100%;
}

@media screen and (max-width: 800px) {
	.prod_column_1 {
		float: left;
		width: 100%;
	}
	.prod_row {
		display: flex;
		flex-direction: column;
	}
}	


.prod_button {
	width: 100%;
	height: 60px;
	background: #44F4B3;
	border: none;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.prod_button_label {
	font-size: 14px;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	letter-spacing: 1.4px;
	padding-bottom: 20px;
	line-height: 60px;
	vertical-align: middle;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	color: #111;
	overflow: hidden;
}

.icon_outlink {
	display: inline-block;
	vertical-align: middle;
	padding: 14px 0px 21px 4px;
}

@media screen and (max-width: 880px) {
	.icon_outlink {
		display: none;
	}
}	





.product_grid {
	padding: 40px 20px 100px 20px;
	margin: auto;
	max-width: 1280px
	
}








