{% include html_head.html %}

<body class="{{page.bodyClass}}">
    <div class="header">
        <ul class="nav">
            <li class="home">
                <a href="{{ site.baseurl }}/index2.html">Home</a>
            </li>
            <li class="gallery">
                <a href="{{ site.baseurl }}/gallery.html">Gallery</a>
            </li>
            <li class="lavender">
                <a href="{{ site.baseurl }}/lavender.html">Lavender</a>
            </li>
            <li class="gift-shop">
                <a href="#giftshop">Gift Shop & Nursery</a>
            </li>
            <li class="events">
                <a href="{{ site.baseurl }}/events.html">Events</a>
            </li>
            <li class="products">
                <a href="{{ site.baseurl }}/products.html">Products</a>
            </li>
            <li class="contact">
                <a href="{{ site.baseurl }}/contact.html">Contact Us</a>
            </li>
        </ul>
    </div>