.home
  .logo-home
    position: absolute
    top: 195px
    left: 50%
    margin-left: -89px
    z-index: 200
    width: 178px
    height: 168px
    background: url('../img/logo-white.png') no-repeat

  .awards 
    position: absolute
    bottom: 40px
    left: 0
    right: 0


#carousel-container
  ul.carousel
    width: 100%
    padding: 0
    margin: 0
    overflow: hidden
    white-space: nowrap

    li
      display: inline-block
      img
        width: 100%
        -webkit-box-shadow: inset 0px 12px 24px 0px rgba(0, 0, 0, 0.2)
        box-shadow: inset 0px 12px 24px 0px rgba(0, 0, 0, 0.2)

.shadow
  clear: both
  height: 40px
  background: -moz-linear-gradient(top,  rgba(67,36,0,0.23) 0%, rgba(67,36,0,0) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,36,0,0.23)), color-stop(100%,rgba(67,36,0,0)))
  background: -webkit-linear-gradient(top,  rgba(67,36,0,0.23) 0%,rgba(67,36,0,0) 100%)
  background: -o-linear-gradient(top,  rgba(67,36,0,0.23) 0%,rgba(67,36,0,0) 100%)
  background: -ms-linear-gradient(top,  rgba(67,36,0,0.23) 0%,rgba(67,36,0,0) 100%)
  background: linear-gradient(to bottom,  rgba(67,36,0,0.23) 0%,rgba(67,36,0,0) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b432400', endColorstr='#00432400',GradientType=0 )


.static-carousel
  position: relative
  width: 100%
  max-height: 750px
  padding: 0
  margin: 0
  overflow: hidden
  white-space: nowrap
  -webkit-box-shadow: inset 0px 12px 24px 0px rgba(0, 0, 0, 0.2)
  box-shadow: inset 0px 12px 24px 0px rgba(0, 0, 0, 0.2)


.splash
  text-align: center
  
  img
    margin: 30px auto
    
  
#home-image
  background: url('../img/bg/bg_home3.jpg') no-repeat
  background-size: 100%
  
#contact-image
  background: url('../img/bg/bg_contact.jpg') no-repeat
  background-size: 100%
  
#events-image
  background: url('../img/bg/bg_events.jpg') no-repeat
  background-size: 100%

#gallery-image
  background: url('../img/bg/bg_gallery.jpg') no-repeat
  background-size: 100%
  
#lavender-image
  background: url('../img/bg/bg_lavender.jpg') no-repeat
  background-size: 100%

#products-image
  background: url('../img/bg/bg_products.jpg') no-repeat
  background-size: 100%

#giftshop-image
  background: url('../img/bg/bg_giftshop.jpg') no-repeat
  background-size: 100%
