.lavender

  .lavender-varieties
    margin: 0
    padding: 0
    overflow: hidden
    font-size: 14px

    ul.lavender-variety
      width: 240px
      float: left
      li.variety-name
        margin-left: -40px
        list-style: none




