.nav-container
  position: fixed
  top: 20px
  right: 0
  left: 0
  text-align: center
ul.nav
  border: 1px solid #ccc
  background: #fff
  display: inline-block
  overflow: hidden
  padding: 0
  margin: 0 auto
  li
    float: left
    margin: 0
    padding: 0
    border-right: 1px solid #ccc
    overflow: hidden
    a
      padding: 20px
      line-height: 50px
      