Redirect /about.html http://http://old.pageolavenderfarm.com/about.html
Redirect /lavender.html http://http://old.pageolavenderfarm.com/lavender.html
Redirect /producenursery.html http://http://old.pageolavenderfarm.com/producenursery.html
Redirect /events.html http://http://old.pageolavenderfarm.com/events.html
Redirect /contact.html http://http://old.pageolavenderfarm.com/contact.html
