<form id="signup" action="http://pageolavenderfarm.us7.list-manage.com/subscribe/post?u=a731beaef6985ad9541d82075&amp;id=0ce45275b0" method="post" id="mc-embedded-subscribe-form" method="get">
  
  <label for="firstname">Name</label>
    <div class="row">
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First" required>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last" required>
    </div>

    <label for="email" id="address-label">Email Address</label>
    <div class="row">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Name@email.com" required>
      <input type="submit" value="Subscribe" name="subscribe" id="sign-up" class="btn">
    </div>
</form>         
